ion-content {
  --background: #f7f7f7;

  .button-container {
    display: flex;
    justify-content: center;
    margin: 16px 0;
    gap: 10px;
  }

  .canvas-container {
    height: calc(100vh - 300px); /* Ajustar altura para botones más grandes en pantallas pequeñas */
  }
}