<ion-header>
  <ion-toolbar color="primary">
    <ion-title>MediLab</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/tutorial">
        <ion-icon slot="icon-only" name="help-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div class="page-container">
    <div class="content-wrapper">
      <!-- Mensaje de Bienvenida -->
      <div class="welcome-container">
        <div class="logo-section">
          <ion-img src="assets/images/Logo_UCT.png" alt="Logo UCT" class="uct-logo"></ion-img>
        </div>
        <h1>Descubre la Precisión Microscópica</h1>
        <p>Explora un mundo de detalles con MediLab. Mide y analiza tus estudios microscópicos.</p>
      </div>

      <!-- Apartado para Cargar una Imagen -->
      <div class="image-upload-container">
        <h2>Comienza Tu Análisis</h2>
        <p>Selecciona una imagen microscópica para iniciar:</p>
        <ion-button color="secondary" expand="block" (click)="fileInput.click()">
          <ion-icon slot="start" name="cloud-upload-outline"></ion-icon>
          Subir Imagen
        </ion-button>
        <input type="file" #fileInput accept="image/*" (change)="onImageSelected($event)" hidden />
      </div>
      
      <!-- Vista Previa de la Imagen -->
      <div class="image-preview" *ngIf="selectedImage">
        <h3>Vista Previa</h3>
        <p>Esta es la imagen que seleccionaste. Si es la correcta, confirma para continuar.</p>
        <img [src]="selectedImage" alt="Vista previa de la imagen" />
        <ion-button color="success" expand="block" (click)="confirmImage()">
          <ion-icon slot="start" name="checkmark-circle-outline"></ion-icon>
          Confirmar Imagen
        </ion-button>
      </div>
    </div>

    <!-- Footer -->
    <div class="footer">
      <div class="brand-name">CINAP<sup>®</sup></div>
      <div class="brand-description">Centro de Innovacón de Aprendizaje Docencia y Tecnología Educativa</div>
    </div>
  </div>
</ion-content>
